/* TRIP PAGE SKELETON */

.trip-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 94vh;
    margin-top: 6vh;
    background-color: #fafafa;
    overflow: hidden;
}

.trip-container {
    display: block;
    width: 75%;
    height: 95%;
    margin-top: 1.3%;
    border-radius: 12px;
    box-shadow: rgb(191, 191, 191) 0px 4px 4px;
    overflow: hidden;
}

.trip-bottom {
    display: block;
    width: 100%;
    height: 65%;
}

/* TOP BLOCK */

.trip-titlecard {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 35%;
    background-image: url("https://images.unsplash.com/photo-1548022401-6b11ed578cc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3750&q=80");
    background-size: 100%;
    background-position: bottom;
    background-attachment: fixed;
    background-color: white;
}

.titlecard-info {
    display: block;
    width: 50%;
    height: 60%;
    margin-top: 6%;
}

.titlecard-title {
    display: block;
    width: 100%;
    height: 40%;
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.titlecard-details {
    display: block;
    width: 100%;
    height: 10%;
    font-size: 1.1rem;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-bottom: 1%;
}

.titlecard-users {
    display: block;
    width: 100%;
    height: 40%;
    margin-top: 2%;
    border: 1px solid #fafafa;
}

/* RIGHT BLOCK */

.trip-right {
    display: inline-block;
    width: 45%;
    height: 100%;
    /* padding: 3%; */
    vertical-align: top;
    background-color: white;
    /* border-right: 1px solid #dadde1; */
}

.trip-right-container {
    display: block;
    width: 100%;
    height: 100%;
}

.map-container {
    display: block;
    width: 100%;
    height: 100%;
    /* border: 1px solid #aaa; */
}

.map {
    height: 100%;
    width: 100%;
}

.trip-info-container {
    display: block;
    width: 100%;
    height: 30%;
    padding: 5%;
}

.trip-info {
    display: block;
    width: 100%;
    height: 50%;
    text-align: left;
}

#add-item-button {
    position: absolute;
    bottom: 4.1%;
    left: 46.5%;
}


/* LEFT BLOCK */

.trip-left {
    display: inline-block;
    width: 55%;
    height: 100%;
    background-color: white;
}

.days-container {
    display: block;
    width: 100%;
    height: 10%;
    padding: 1.1%;
    white-space: nowrap;
    overflow-x: scroll;
    /* background-color: #dce3e4; */
    border-bottom: 1px solid #dadde1;
}

.day-block {
    width: 100px;
    height: 100%;
    display: inline-block;
    margin: 0 10px;
    padding: 0.5%;
    /* background-color: #f5f6f7; */
    background-color: #f1f1f1;
    /* border: 1px solid black; */
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
}

.day-block:hover {
    background-color: #023246;
    color: white;
}

.day-block-plus {
    width: 50px;
    height: 100%;
    display: inline-block;
    margin: 0 10px;
    padding: 0.5%;
    /* background-color: #f5f6f7; */
    background-color: #f1f1f1;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.day-block-plus:hover {
    background-color: #023246;
    color: white;
}

.itin-container {
    display: block;
    width: 100%;
    height: 90%;
    /* padding: 3%; */
    white-space: nowrap;
    overflow-y: scroll;
}

.itin {
    display: block;
    width: 100%;
    /* height: 100%; */
}

.item-block {
    height: 100px;
    width: 100%;
    display: flex;
    text-align: left;
    border-top: 1px solid #eee;
    background-color: white;
    /* box-shadow: rgb(211, 211, 211) 0px 4px 4px; */
    /* border-radius: 12px; */
    /* margin: 15px 0; */
    padding: 20px 30px;
    font-size: 1.5rem;
}

.item-block:hover {
    background-color: #f1f1f1;
}

.item-block-icon {
    height: 100%;
    width: 10%;
    display: inline-block;
    padding-left: 10px;
    font-size: 2.5rem;
    color: #023246;
}

.fa-car {
    font-size: 2.8rem;
}

.fa-hotel {
    font-size: 2.4rem;
}

.item-block-info {
    height: 100%;
    width: 90%;
    display: inline-block;
    padding-left: 6%;
}

.item-block-title {
    height: 49%;
    width: 90%;
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: top;
    /* font-weight: 500; */
}

.item-block-delete {
    height: 49%;
    width: 10%;
    display: inline-block;
    font-size: 0.8rem;
    vertical-align: top;
    text-align: right;
}

.fa-trash-alt {
    cursor: pointer;
}

.item-block-desc {
    height: 49%;
    width: 100%;
    display: block;
    font-size: 1rem;
    /* margin-top: 1%; */
}